<!DOCTYPE html>
<html>
<head>
  <title>Event Form</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/eventform.css">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<style>

.container {
  position: relative;
  width: 30%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: black;
  font: arial;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

 

</style>


<body>

  <nav class="navbar navbar-default navbar-expand-lg navbar-light" style="background-color: #005bbb;">
      <!-- <nav class="navbar navbar-expand-sm navbar-light" style="background-color: #005bbb;"> -->
        <div class="container">    
          <div class="collapse navbar-collapse" id="mainMenu" style="color: #005bbb;">
            <ul class="nav navbar-nav" >
              <li><a class="active" href="{% url 'home' %}" style="color: white; padding-left: 130px; font-size: 28px;">AroundMe</a></li>
            </ul>
           
          </div>
        </div>
      </nav>


  <h1><center><u>Hot Topic: Does College Education Need a Reform? </u></center></h1>
</style>
</head>
<body>

<div class="container">
  <img src="../static/img/1.jpg" alt="Event" class="image">
  <div class="overlay">
    <div class="text">Come Attend Hot Topic Discussion with CA Sada! Debate about the changes required in College Education to make it more efficient and viable! Free Pizza! </div>
  </div>
</div>
  

 <p><span class="glyphicon glyphicon-calendar"></span></p>  
 <div class = text0>
  <h5> Saturday, November 11th, 2017 </br> 7:00pm - 8:00pm </h5>
</div>

 <p> <span class="glyphicon glyphicon-map-marker"></span></p>
 <div class = text1>
 <h5> Flint Village, University at Buffalo </h5>
 </div>

 <p> <span class ="glyphicon glyphicon glyphicon-user"></span></p>
 <div class = "text2">
<h5> <a href="mailto:sadahaid@buffalo.edu"> sadahaid@buffalo.edu </a> </h5>
</div>

<div class = "mapper">
<div class="container">
  <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Map The Location</button>
  <div id="demo" class="collapse">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2918.0866620103766!2d-78.79062203486914!3d42.99750970259939!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d373cc34679785%3A0x790114a77e2454b!2sFlint+Village+307%2C+Buffalo%2C+NY+14261!5e0!3m2!1sen!2sus!4v1510683845541" width="800" height="450" frameborder="0" style="border:10" allowfullscreen></iframe>
</div>
</div>
</div>


<div class="comments">
  <h2>Post a comment</h2>
  <form>
    <div class="form-group">
      <textarea class="form-control" rows="5" id="comment"></textarea>
        
       <input type="submit" class="btn btn-info" style="position: left" value="Submit Button">
    </div>
  </form>
</div>

</body>
</html>
