<!DOCTYPE html>
<html>
<head>
  <title>Event Form</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/eventform.css">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<style>

.container {
  position: relative;
  width: 30%;
}

#map {
        height: 400px;
        width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.panel {
    overflow: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: black;
  font: arial;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

 

</style>


<body>

  <nav class="navbar navbar-default navbar-expand-lg navbar-light" style="background-color: #005bbb;">
      <!-- <nav class="navbar navbar-expand-sm navbar-light" style="background-color: #005bbb;"> -->
        <div class="container">    
          <div class="collapse navbar-collapse" id="mainMenu" style="color: #005bbb;">
            <ul class="nav navbar-nav" >
              <li><a class="active" href="{% url 'home' %}" style="color: white; padding-left: 100px; font-size: 28px;">AroundMe</a></li>
            </ul>
           
          </div>
        </div>
  </nav>

<div class="jumbotron">
<h1 class="page-header"><center><u>{{event.event_title}}</u></center></h1>
</div>
</style>
</head>


<div class="container">
      <img src="{{filename}}" class="image">
      <div class="overlay">
        <div class="text"> {{event.event_info}} </div>
      </div>
</div>

<br>

{% if user.email == event.event_user.email %}
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <center><button type = "button" class="btn btn-block btn-danger" id="delete-event" style="float:center"> Delete Event </button></center>
    </div>
    <div class="col-lg-4"></div>
  </div>
{% endif %}

<br><br>


<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12" style="height: 5px;"></div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-primary">
        <div class="panel-heading"><i class="fa fa-info-circle" aria-hidden="true"></i> Event Info</div>
        <div class="panel-body" style="background-color:#EBF5FB">
          <div class="row">
            <p><span class="glyphicon glyphicon-calendar"></span></p> 
            <div class = "text0">
              <h5> {{event.event_date}} <br> {{event.event_time}} </h5>
            </div>
            <p> <span class="glyphicon glyphicon-map-marker"></span></p>
            <div class = "text1">
               <h5> {{event.event_street}}, {{event.event_city}}, {{event.event_zip}} </h5>
            </div>
            <p> <span class ="glyphicon glyphicon glyphicon-user"></span></p>
            <div class = "text2">
              <h5> <a href="mailto:{{event.event_user.email}}"> {{event.event_user.email}} </a> </h5>
            </div>
            <div class = "mapper" style="padding-left:27%">
              <div class="container-fluid">
                <div id="map"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-lg-12">
  <div class="panel panel-info">
    <div class="panel-heading"><i class="fa fa-bullhorn" aria-hidden="true"></i> Comment Section</div>
    <div class="panel-body" style="background-color:#F4F6F6" id="header">
      <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
          <h2>Post a comment</h2>
          {% if user.is_authenticated %}
            <form>
              <div class="form-group">
                <textarea class="form-control" rows="5" id="comment"></textarea><br>
                 <button type="button" class="btn btn-info" style="position: left" id="post-comment">Post Comment</button>
              </div>
            </form>
          {% else %}
            <div class="well well-lg">
              <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-6">If you would like to add a comment on this event, log in!</div>
                <div class="col-lg-2">
                  <a href="{% url 'login' %}"><button type="button" class="btn btn-primary btn-block" style="position: right">Log In</button></a>
                </div>
                <div class="col-lg-2">
                  <a href="{% url 'signup' %}"><button type="button" class="btn btn-warning btn-block" style="position: right">Sign Up</button>
                  </a>
                </div>
              </div>
            </div>
          {% endif %}
        </div>
        <div class="col-lg-2"></div>
      </div>
      <br>
      <ul class="list-group" id="comment-list">
        {% for comment in comments %}
          <li class="media list-group-item">
            <div class="media-left">
              <img src="/static/img/img_avatar1.jpg" class="media-object" style="width:60px">
            </div>
            <div class="media-body">
              <h4 class="media-heading">{{ comment.comment_author.username }}</h4>
              <div class="row">
                <div class="col-lg-6">
                  <p> {{comment.comment_text}} </p>
                </div>
                <div class="col-lg-6">
                  {% if comment.comment_author.email == user.email %}
                    <button type = "button" class="btn btn-danger" id="button-{{forloop.counter0}}" onclick="deleteComment({{forloop.counter0}},{{comment.id}})" style="float:right"> Delete Comment </button>
                  {% endif %}
                </div>
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>


</body>


<script type="text/javascript">

function initMap() {

  var address = "{{event.event_street}},{{event.event_city}},{{event.event_zip}}";
  var geocoder = new google.maps.Geocoder();

  var latitude;
  var longitude;

  

  geocoder.geocode( { 'address': address}, function(results, status) {

    console.log(status);
    if (status == google.maps.GeocoderStatus.OK) {
      console.log("we here");
      latitude = results[0].geometry.location.lat();
      longitude = results[0].geometry.location.lng();
      console.log(latitude);
      uluru = {lat: latitude, lng: longitude};

      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 15,
        center: uluru
      });

      var marker = new google.maps.Marker({
        position: uluru,
        map: map
      });
      //alert(latitude);
    } 
  }); 
}

function getCookie(name) {
  var cookieValue = null;
  if (document.cookie && document.cookie !== '') {
    var cookies = document.cookie.split(';');
    for (var i = 0; i < cookies.length; i++) {
      var cookie = jQuery.trim(cookies[i]);
      // Does this cookie string begin with the name we want?
      if (cookie.substring(0, name.length + 1) === (name + '=')) {
      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
      break;
      }
    }
  }
  return cookieValue;
}
  
var csrftoken = getCookie('csrftoken');

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        xhr.setRequestHeader("X-CSRFToken", csrftoken);
    }
});

var count = {{comments|length}};

$('#post-comment').click(function(){

  var comment = document.getElementById('comment').value;
  if(comment != ""){
  var e_id = "{{event.id}}";
    console.log(e_id);
    var data = {'comment':comment, 'event_id':e_id};
    sendComment(data,comment);
    document.getElementById('comment').value = "";
  }
  
});

function sendComment(data,comment){
  $.ajax({
      type:"POST",
      url: "/addComment/",
      async: true,
      dataType: 'json',
      contentType: 'json',
      data: JSON.stringify(data),
      success: function(response){
        if(response['code'] == 200){
          console.log("Success");
          var comment_html = '<li class="media list-group-item"><div class="media-left"><img src="/static/img/img_avatar1.jpg" class="media-object" style="width:60px"></div><div class="media-body"><h4 class="media-heading">{{user.username}}</h4><p><div class="row"><div class="col-lg-6">'+comment+'</p></div><div class="col-lg-6"><button type = "button" class="btn btn-danger" id="button-'+count+'" onclick="deleteComment('+count+','+response['id']+')" style="float:right"> Delete Comment </button></div></div></div></li>';
          console.log(comment_html);
          count = count + 1;
          $("#header ul").prepend(comment_html);
        }
        else{
          console.log(response["error"]);
        }
      }
  });
}

function deleteComment(index, c_id){

  var data = {'id':c_id};

  console.log(index);

  $.ajax({
    type:"POST",
    url: "/deleteComment/",
    async: true,
    dataType: 'json',
    contentType: 'json',
    data: JSON.stringify(data),
    success: function(response){
        if(response['code'] == 200){
          console.log("Success");
          $('#button-'+index).closest("li").remove();
        }
      else{
        console.log(response["error"]);

        }
    }
  });
}

$('#delete-event').on('click',function(){

  var data = {"id":{{event.id}}};
  $.ajax({
    type:"POST",
    url: "/app/deleteEvent/",
    async: true,
    dataType: 'json',
    contentType: 'json',
    data: JSON.stringify(data),
    success: function(response){
        console.log("want");
        if(response['code'] == 200){
          console.log("Success");
          window.location.href = response["url"];
        }
      else{
        console.log(response["error"]);

        }
      }
  });

});





</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBz-EOSfZhEm35MBRxehrlVdEcozpurN0&callback=initMap"
  type="text/javascript"></script>

</body>
</html>
